@model MegamiManager.Models.MegamiModels.Team

@{
    ViewData["Title"] = Model.Name;
}

<div class="team-detail-wrapper">
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Owner)
                </dt>
                <dd>
                    @Html.Partial("../Shared/_Owner.cshtml", Model.Owner)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UpdatedAt)
                </dd>
            </dl>
            <h4>Description</h4>
            <div class="markdown">@Model.Description</div>
            <h4>Comment</h4>
            <div class="markdown">@Model.Comment</div>
        </div>
        <div class="col-md-6">
            <h4>Team Members</h4>
            @foreach (var item in Model.Members)
            {
                @Html.Partial("../Megamis/_MegamiSummary.cshtml", @item.Megami);
            }
        </div>
    </div>
</div>

<div class="btn-group" role="group">
    <a asp-action="MyIndex" class="btn btn-default">My Team</a>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>
